.DS_Store

# IntelliJ Idea
.idea/
*.iml
*.jks
**/output.json

# Gradle & Java build
.gradle/
build/
bin/
gen/
target/
out/
classes/
# gradle.properties


# Local build properties
build.properties
local.properties

